In [9]:
import numpy as np
import matplotlib.pylab as plt
import pandas as pd
import sklearn
from scipy import stats
from subprocess import check_output
import os
%matplotlib inline

In [28]:
#this function will take as an argument a file containing
#the field index and description for every field in the data frames.
#I will use this to create a template dataframe and to name the columns
#because currently it is just using the first value as the column name
#and it makes literally no sense at all.
def shape_dataframe():
    #this file contains all the field descriptions
    field_descriptor_file_path = "csvFieldDescriptions.txt"
    
    #open the file and read it, adding each description to a list
    fields = open(field_descriptor_file_path, 'r')
    fieldInfo = []
    for field in fields:
        fieldInfo.append(field[2:].strip())
    return fieldInfo

In [29]:
csv_paths = os.listdir('./csvFiles')#Get the paths of all of the CSV files
column_info = shape_dataframe()#get the information on each field
data = pd.DataFrame(columns=column_info)#create an empty data frame
individual_data = []#create a list to hold the smaller frames
del individual_data[:]#clear the list just in case I've already been using it

#make all the dataframes
df = pd.DataFrame(columns=column_info)
for index, path in enumerate(csv_paths):#iterate over the list of paths
    #names=column_info is what names the columns
    df = pd.read_csv(str('./csvFiles/'+path), names=column_info)#read a file into a csv
    individual_data.append(df)#add it to the list
    if(index==50):#just so my computer doesn't die a slow death
        break
print("Done")#for my own sanity

Done

,game id,visiting team,inning,batting team,outs,balls,strikes,pitch sequence,vis score,home score,...,Position of batter removed for pinch-hitter,Fielder with First Putout (0 if none),Fielder with Second Putout (0 if none),Fielder with Third Putout (0 if none),Fielder with First Assist (0 if none),Fielder with Second Assist (0 if none),Fielder with Third Assist (0 if none),Fielder with Fourth Assist (0 if none),Fielder with Fifth Assist (0 if none),event num
0,BOS195004180,NYA,1,0,0,0,0,NaN,0,0,...,0,2,0,0,0,0,0,0,0,1
1,BOS195004180,NYA,1,0,1,0,0,NaN,0,0,...,0,7,0,0,0,0,0,0,0,2
2,BOS195004180,NYA,1,0,2,0,0,NaN,0,0,...,0,3,0,0,6,0,0,0,0,3
3,BOS195004180,NYA,1,1,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,4
4,BOS195004180,NYA,1,1,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,5

In [6]:
data = pd.concat(individual_data)
print("Done")

Done

In [23]:
individual_data[0].head()

,BOS195004180,NYA,1,0,0.1,0.2,0.3,Unnamed: 7,0.4,0.5,...,0.17,2.1,0.18,0.19,0.20,0.21,0.22,0.23,0.24,1.3
0,BOS195004180,NYA,1,0,1,0,0,NaN,0,0,...,0,7,0,0,0,0,0,0,0,2
1,BOS195004180,NYA,1,0,2,0,0,NaN,0,0,...,0,3,0,0,6,0,0,0,0,3
2,BOS195004180,NYA,1,1,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,4
3,BOS195004180,NYA,1,1,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,5
4,BOS195004180,NYA,1,1,0,0,0,NaN,0,0,...,0,0,0,0,0,0,0,0,0,6